.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background-color: white;
    box-sizing: border-box;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

.nav-logo p {
    color: #171717;
    font-size: 28px;
    font-weight: 600;
    margin: 0;
}

.nav-logo-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-logo-name .span {
    color: #ff4141;
    font-size: 18px;
}

.nav-profile {
    width: 75px;
}